<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Gambling Website Login</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/public/css/forgotpassword.css">

  <meta name="theme-color" content="#fafafa">
</head>


<body>

  <h2 class="title">Forgot Password</h2>

  <form action="/action_page.php" method="post">

   <div class="container">
    <div>
        <label for="username">Email</label>
        <input type="text" placeholder="Email" required>
    </div>

    <div>
        <button id="login">Forgot Password</button>
    </div>
      
    <div class="navigation">
      <a class="links" style="font-size: 15px;" href="/login">Log In</a>
    </div>

   </div>

  </form>
  
  <script src="./public/js/app.js"></script>
</body>

</html>
