<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Home Page</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/public/css/home.css">

  <meta name="theme-color" content="#fafafa">
</head>


<body>

  <h2 class="title">WELCOME!!</h2>



    <div class="container">
        <div>
            <a class="button" href="/login">Login</a>
            <a class="button" href="/signup">Register</a>
        </div>
    </div>

  
  <script src="/public/javascript/login.js"></script>
</body>

</html>
