<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Bank Register</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/public/css/signup.css">

  <meta name="theme-color" content="#fafafa">
</head>


<body>

  <h2 class="title">Sign up!</h2>

  <form action="" id="registerForm">

   <div class="container">

    <div>
        <label for="username">Email</label>
        <input type="text" placeholder="Email" name="email" id="email" required>
    </div>
      
    <div>
        <label for="username">Username</label>
        <input type="text" placeholder="Username" name="username" id="username" required>
    </div>
      
      <div>
       <label for="password">Password</label>
       <input type="password" placeholder="Password" name="password" id="password" required>
      </div>
      
      <div>
       <button id="login">Sign Up</button>
      </div>
      
    <div class="navigation">
      <a class="links" style="font-size: 15px;" href="/login">Log In</a>
    </div>

   </div>

  </form>
  
  <script src="/public/javascript/register.js"></script>
</body>

</html>
