body{
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    background-color: #a9ddb4;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin:0px;
    padding-left: 30px;
}

.title{
    text-align: center;
    margin-top: 150px;

}

body {
    overflow: hidden;
  }

.container{
    text-align: center;
    margin: 0 auto;
    width: 300px;
    height: 370px;
    background-color: #676797;
    border-radius: 10px;
}

.navigation{
    text-align: left;
    margin-left: 15px;
}

input[type=text], input[type=password] {
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

button[id="login"] {
    background-color: #56567c;
    padding: 14px 20px;
    border: none;
    width: 80%;
    cursor: pointer;
}

button[id="login"]:hover {
    opacity: 0.8;
}


